################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GLink_API/FileContentIndex/3a830ef9-5286-40f5-93c8-a55d3e4cfbff.vsidx
