################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GLink_API/FileContentIndex/3a830ef9-5286-40f5-93c8-a55d3e4cfbff.vsidx
/.vs/GLink_API/v17
/GLink_API/bin/Debug/net8.0/GLink_API.dll
/GLink_API/bin/Debug/net8.0/GLink_API.exe
/GLink_API/bin/Debug/net8.0/GLink_API.pdb
/GLink_API/obj/Debug/net8.0/refint/GLink_API.dll
/GLink_API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GLink_API/obj/GLink_API.csproj.nuget.dgspec.json
/GLink_API/obj/project.assets.json
/GLink_API/obj/project.nuget.cache
/GLink_API/obj/Debug/net8.0/GLink_API.genruntimeconfig.cache
/GLink_API/obj/Debug/net8.0/GLink_API.pdb
/GLink_API/obj/Debug/net8.0/GLink_API.sourcelink.json
/GLink_API/obj/Debug/net8.0/GLink_API.AssemblyInfo.cs
/GLink_API/obj/Debug/net8.0/GLink_API.AssemblyInfoInputs.cache
/GLink_API/obj/Debug/net8.0/GLink_API.assets.cache
/GLink_API/obj/Debug/net8.0/GLink_API.csproj.FileListAbsolute.txt
/GLink_API/obj/Debug/net8.0/apphost.exe
/GLink_API/obj/Debug/net8.0/GLink_API.dll
/GLink_API/obj/Debug/net8.0/GLink_API.GeneratedMSBuildEditorConfig.editorconfig
/GLink_API/obj/Debug/net8.0/ref/GLink_API.dll
/.vs
/GLink_API/obj/GLink_API.csproj.nuget.g.props
/GLink_API/obj/Debug/net8.0
/.vs/GLink_API/DesignTimeBuild/.dtbcache.v2
